### C++ ###
*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.mod
*.smod

*.so
*.dylib
*.dll

*~
.*.swp

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

### CMake ###
.ninja_*
CMakeFiles/*
Testing/*
.cmake/*
CMakeCache.txt
build_ninja
cmake_install.cmake
cmake-*
build/

### VisualStudioCode ###
.vscode/*

.history/

*.vsix

### VisualStudioCode Patch ###
.history
.ionide